@import '../../../styles/partials/variables.scss';

.branches {
    position: fixed;
    top: $titleHeight + $controlHeight;
    left: $treeWidth;
    height: $branchHeight;
    width: $branchWidth;

    background-color: var(--ion-color-tertiary);

    border-right: 1px solid var(--ion-color-primary);

    &__title-container {
        margin: 1.25rem 0 0 0;
        width: 100%;
        text-align: center;
    }
    &__title {
        font-size: .75rem;
        font-style: italic;
        color: var(--ion-color-primary);
    }
    &__cloud {
        position: absolute;
        top: 3px;
        left: 3px;
        height: .75rem;
        width: .75rem;
        cursor: pointer;
    }
    &__close {
        position: absolute;
        top: 3px;
        right: 3px;
        height: .6rem;
        width: .6rem;
        cursor: pointer;
    }
}