@import '../../../styles/partials/variables.scss';

.controls {
    position: fixed;
    top: $titleHeight;
    left: $treeWidth;
    width: $controlWidth;
    height: $controlHeight;
    border-bottom: 1px solid var(--ion-color-primary);
}