@import '../../../styles/partials/variables.scss';

.leaves {
    position: fixed;
    top: $titleHeight + $controlHeight;
    left: $treeWidth + $branchWidth;
    height: $leaveHeight;
    width: $leaveWidth;

    transition: all $sectionCloseRate;

   

    &--no-branches {
        left: $treeWidth;
        width: calc($leaveWidth + $branchWidth);
    }

    &--no-branches--no-controls {
        left: $treeWidth;
        width: calc($leaveWidth + $branchWidth);
        height: calc($leaveHeight + $controlHeight);
        top: $titleHeight;
    }

    &--no-trees--no-branches {
        left: 0;
        width: 100vw;
    }

    &--no-trees--no-controls {
        height: calc($leaveHeight + $controlHeight);
        top: $titleHeight;
    }

    &--no-trees--no-branches--no-controls {
        left: 0;
        width: 100vw;
        height: calc($leaveHeight + $controlHeight);
        top: $titleHeight;
    }

    &--no-controls {
        height: calc($leaveHeight + $controlHeight);
        top: $titleHeight;
    }
    &--full-screen {
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        background-color: white;
    }

    &__full-screen, &__normal-screen {      
        height: .75rem;
        width: .75rem;
        cursor: pointer;
    }
    &__actions {
        display: flex;
        justify-content: space-between;
        padding: .5rem;
        box-sizing: border-box;
    }
    &__cloud, &__settings {
        height: .75rem;
        width: .75rem;
        cursor: pointer;
    }
    &__close {
        height: .55rem;
        width: .55rem;
        cursor: pointer;
    }
    &__settings {
        filter: invert(40%) sepia(51%) saturate(2904%) hue-rotate(206deg) brightness(101%) contrast(101%);
    }

    
   
}