@import '../../../styles/partials/variables.scss';

.trees {
    position: fixed;
    top: 0;
    left: 0;
    width: $treeWidth;
    height: 100vh;

    border-right: 1px solid var(--ion-color-primary);
}